chromadb
fastapi
fitz
flagembedding
huggingface_hub
modelscope
numpy
openai
paddleocr
pdf2image
pdfplumber
Pillow
psycopg2_binary
pydantic
PyMuPDF
pypdf
PyPDF2
pytesseract
python-dotenv
python_docx
python_pptx
pywin32
rapidfuzz
redis
reportlab
Requests
sentence_transformers
SQLAlchemy
uvicorn
